<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do APP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/icon.png" type="image/png">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="particles-js"></div>
    <header>
        <h1><i class="fa-solid fa-list-check"></i> To Do APP</h1>
    </header>
    <main id="app">

        <div class="card">
            <label for=""><strong>Tarea</strong></label>
            <input type="text" v-model="nuevaTarea">
            <button v-on:click="crearTarea(tarea)" class="btn-update" type="button">Crear</button>
        </div>

        <div class="card">
            <h2><i class="fa-regular fa-calendar"></i> Tareas Pendientes 🤔⌚</h2>
            <h4>Cantidad 2</h4>
            <ul>
                <li v-for="tarea in tareasPendientes">
                    <strong>{{ tarea.nombre }}</strong>
                    <i v-on:click="cambiarTarea(tarea)" class="btn-update fa-solid fa-circle-check" title="Cambia el estado de la tarea"></i>
                    
                </li>
            </ul>
        </div>

        <div class="card">
            <h2><i class="fa-regular fa-calendar-check"></i> Tareas Terminadas 😁👍</h2>
            <h4>Cantidad 1</h4>

            <ul>
                <li v-for="tarea in tareasRealizadas">
                    <strong>{{ tarea.nombre }}</strong>
                    <i v-on:click="cambiarTarea(tarea)" class="btn-detalle fa-solid fa-clock-rotate-left" title="Cambia el estado de la tarea"></i>
                    <i v-on:click="eliminarTarea(tarea)" class="btn-delete fa-solid fa-trash" title="Elimina la tarea"></i>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p>ISTIC | Programación III</p>
    </footer>
    <!-- JS VUE -->
    <script src="./js/data.js"></script>
    <!-- JS PARTICLES -->
    <script src="./js/particles.min.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>